/* style.css */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2, h3 {
    color: #444;
    text-align: center;
}

section#menu {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.category {
    margin-bottom: 20px;
}

.category h3 {
    background-color: #eee;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    overflow: auto;
}

li h4 {
    margin: 10px 0 5px 0;
    color: #333;
    text-align: center;
}

li p {
    margin: 0 0 10px 0;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/* Navbar Styles */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center; /* Center navbar items */
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navbar li a:hover {
    background-color: #555;
}

.navbar li a:hover, .navbar li a.active {
    background-color: #555;
}

/* Additional styling for the active link */
.navbar li a.active {
    background-color: #777; /* Different background color for the active link */
    cursor: default; /* Change cursor to indicate the link is not clickable */
    pointer-events: none; /* Prevents clicking on the active link */
}

#welcome-text {
    text-align: center;
}

body {
    margin-bottom: 100px; /* Adjust this value as needed */
    padding-bottom: 10%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Ensure the footer stays above other content */
}

#about {
    text-align: center;
    margin: auto;
    max-width: 800px; /* Adjust as needed */
}